name: buttons_tabbar
description: A Flutter package that implements a TabBar where each label is a toggle button.
version: 1.2.2
homepage: https://afonsoraposo.com
repository: https://github.com/Afonsocraposo/buttons_tabbar

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
