name: Check version

on:
  pull_request:
    branches: [ main ]

jobs:
  check-version:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyyaml

    - name: Check version
      run: |
        python .github/workflows/check_version.py

  dry-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Dry run
        uses: sakebook/actions-flutter-pub-publisher@v1.3.1
        with:
          skip_test: true
          dry-run: true
